.service-section__article {
    background-color: rgb(255, 240, 240);
    transition: background-color .7s ease-in-out;  
    
}
.service-section__article:hover {
    background-color: #fff;
    
}
.service-section__article-hover{
    transition: background-color .7s ease-in-out;  
}

.service-section__article-hover:hover{
    background-color: rgb(230, 230, 230);
}
.service-section__text{
  text-align: center;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 991px) {
    .service-section__headline-hover {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .service-section__headline{
        font-size: 18px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .service-section__text{
        font-size: 14px;
    }
    .service-section__img {
        width: 65%;
    }
    }
    @media (max-width: 767px) {
        .service-section__headline-hover {
            font-size: 15px;
            margin-left: 10px;
            margin-right: 10px;
            
        }
        .service-section__headline{
            font-size: 14px;
            margin-left: 15px;
            margin-right: 15px;
          
        }
        .service-section__text{
            font-size: 12px;
        }
        .service-section__img {
            width: 60%;
        }
    }

    @media (max-width: 576px) {
        .service-section__img{
            width: 40%;
        }
    }