
.Gallery__text {
    max-width: 50%;
  align-self: center;
}

@media (max-width: 767px) {
  .Gallery__headline {
 font-size: 34px;
}
.Gallery__text{
  display: none;
}
}
@media (max-width: 480px) {
  .Gallery__headline {
    font-size: 28px;
   }
}
@media (max-width:1339px){
  .img-600{
    max-width: 600px;
  }
  .img-1200{
    max-width: 1200px;
  }
 
}

@media (max-width:1229px){
  .img-600{
    max-width: 450px;
  }
  .img-1200{
    max-width: 900px;
  }
 
}
@media(max-width:946px){
  .img-600{
    max-width: 400px;
  }
  .img-1200{
    max-width: 800px;
  }

}
@media(max-width:847px){
  .img-600{
    max-width: 380px;
  }
  .img-1200{
    max-width: 760px;
  }
 
}
@media(max-width:806px){
   .img-1200{
    max-width:600px;
  }
  .img-600{
    max-width:600px ;
  }

}
@media(max-width:600px){
  .img-600, .img-1200{
    max-width:465px ;
  }
}
@media(max-width:480px){
  .img-600, .img-1200{
    max-width:365px ;
  }
}
@media(max-width:380px){
  .img-600, .img-1200{
    max-width:280px ;
  }
}
