.Intro-header{
    background-position-y: top;
    background-position-x: right;
    background-repeat:no-repeat;
    background-size: 20%;
    padding:7% 0;
   
    
    margin:0 auto;
    }
    .Intro-header__headline {
     font-size: 65px;
     letter-spacing: 5px;
     line-height:65px;
     font-weight: 600;
     transition:    .4s ease-in-out; 
     color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(90deg, rgb(255, 209, 209), rgb(158, 155, 156), rgb(104, 94, 97));
    }
    @media (max-width: 767px){
        .Intro-header{
            background-size: 30%;
           
            }
    }
    @media (max-width: 576px){
        .Intro-header{
            background-size: 35%;
        }
        .Intro-header__headline {
            font-size: 53px; 
            letter-spacing: 4px;
            line-height:55px;

           }
        
    }
    @media (max-width: 460px){
    .Intro-header__headline {
            font-size: 45px;  
            letter-spacing: 4px;
            line-height:50px;
           }
           .Intro-header{
            background-position-y: top;
        
        }
    }
    @media (max-width: 400px){
    .Intro-header__headline {
            font-size: 45px;  
            letter-spacing: 2px;
            line-height:50px;
           
           }
           .Intro-header{
            background-size: 45%;
        }
    }
  
  